---
layout: default
---
article.post.h-entry(itemscope='', itemtype='http://schema.org/BlogPosting')
  header.post-header
    p.post-meta
      time.dt-published(datetime='{{ page.date | date_to_xmlschema }}', itemprop='datePublished')
        | {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        | {{ page.date | date: date_format }}
      span.post-lesson Lesson {{ page.lesson }}
    h1.post-title.p-name(itemprop='name headline')
      | {{ page.title }} 
      span.post-subtitle {{ page.subtitle | escape}}
  .post-content.e-content(itemprop='articleBody')
    | {%- if page.video -%}
    div
      h1 Video
      iframe(width='560', height='315', src='https://www.youtube.com/embed/{{ page.video }}', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    | {%- endif -%}
    | {{ content }}
    | {% capture my_include %}{% include end-checklist.html %}{% endcapture %}
    | {{ my_include | markdownify }}

  a.u-url(href='{{ page.url | relative_url }}', hidden='')
