---
layout: default
---
.home
  | {%- if page.title -%}
  h1.page-heading {{ page.title }}
  | {%- endif -%}
  | {{ content }}
  | {%- if site.categories.introassignments.size > 0 -%}
  h2.post-list-heading Intro Assignments
  ul.post-list
    | {%- for post in site.categories.introassignments -%}
    li
      | {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      a(href='{{ post.url | relative_url }}')
        span.post-meta {{ post.date | date: date_format }}
        span.post-lesson Lesson {{ post.lesson }}      
        h3.post-link
            | {{ post.title | escape }} | {{ post.subtitle }}
    | {%- endfor -%}
  | {%- endif -%}
